<footer style="background-color: #41C79F;
      color: white;
      padding: 20px;
      position: sticky;
      bottom: 0;
      width: 100%;">
    <div class="container">
      <h2 style="text-align: center; font-size: 20px">Всі права захищенні © Mezentsev-clinic, 2023</h2>
    </div>
  </footer>