<!DOCTYPE html>
<html>
<head>
  <title>Mezentsev clinic</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/bootstrap-5.3.0-alpha3-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/icons/fontello-589fd267/css/fontello.css">
  <link rel="stylesheet" href="/bootstrap-5.3.0-alpha3-dist/css/main.css">
  <link rel="icon" type="image/png" href="/icons/pngwing.com.png" sizes="32x32">
  <style>
  
</style>
</head>



<body style="display: flex; flex-direction: column; min-height: 100vh">
  {{> nav}}
    <main style="width: 100vw; flex: 1;">
      <div class="container">
      <div class="row" style="padding-top: 100px; justify-content: center">
      <ul style="display: flex; flex-wrap: wrap; justify-content: center; width: 768px; list-style: none; gap: 15px; padding: 0; margin: 0;">
        <li style="max-width: 48.18%;flex-basis: 48.18%;padding: 39px;background-color: #eaeff2;opacity: .9;">
          <img src="https://oxford-med.com.ua/uploads/info_block/okazanie-neotlojnoy-pomosci-i-vyzov-vracha-na-dom_img.png" alt="" style="display: block; margin: 0 auto 10px">
          <span style="font: 18px/30px HelveticaNeue-Bold, sans-serif;color: #333;text-align: center;display: inline-block;width: 100%;word-wrap: break-word;"> НАДАННЯ ШВИДКОЇ ДОПОМОГИ В РАЗІ ГОСТРОГО БОЛЮ </span>
        </li>
        <li style="max-width: 48.18%;flex-basis: 48.18%;padding: 39px;background-color: #eaeff2;opacity: .9;">
          <img src="https://oxford-med.com.ua/uploads/info_block/vysokotehnologichnoe-oborudovanie-v-kajdom-otdelenii_img.png" alt="" style="display: block; margin: 0 auto 10px">
          <span style="font: 18px/30px HelveticaNeue-Bold, sans-serif;color: #333;text-align: center;display: inline-block;width: 100%;word-wrap: break-word;"> ВИСОКОТЕХНОЛОГІЧНЕ ОБЛАДНАННЯ В НАШОМУ ВІДДІЛЕННІ </span>
        </li>
        <li style="max-width: 48.18%;flex-basis: 48.18%;padding: 39px;background-color: #eaeff2;opacity: .9;">
          <img src="https://oxford-med.com.ua/uploads/info_block/polnyy-spektr-medicinskih-i-esteticheskih-uslug_img.png" alt="" style="display: block; margin: 0 auto 10px">
          <span style="font: 18px/30px HelveticaNeue-Bold, sans-serif;color: #333;text-align: center;display: inline-block;width: 100%;word-wrap: break-word;"> ПОВНИЙ СПЕКТР МЕДИЧНИХ ТА ЕСТЕТИЧНИХ ПОСЛУГ </span>
        </li>
        <li style="max-width: 48.18%;flex-basis: 48.18%;padding: 39px;background-color: #eaeff2;opacity: .9;">
          <img src="https://oxford-med.com.ua/uploads/info_block/set-klinik-naschityvaet-v-ukraine-19-filialov_img.png" alt="" style="display: block; margin: 0 auto 10px">
          <span style="font: 18px/30px HelveticaNeue-Bold, sans-serif;color: #333;text-align: center;display: inline-block;width: 100%;word-wrap: break-word;"> МЕРЕЖА КЛІНІК НАЛІЧУЄ В УКРАЇНІ 22 ФІЛІЇ </span>
        </li>
      </ul>
      <h1 style="color: #39B0EF; font-size: 2rem; text-align: center;"><span style="font-size: 3rem;">Клініка Мезенцева</span><br>Ваша посмішка - наше покликання</h1>
    </div>
    </div>
    </main>
{{> footer}}
<script src="/bootstrap-5.3.0-alpha3-dist/js/bootstrap.bundle.js"></script>
</body>
<html>