<!DOCTYPE html>
<html>
<head>
  <title>Oxydent</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/bootstrap-5.3.0-alpha3-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/icons/fontello-589fd267/css/fontello.css">
  <link rel="stylesheet" href="/bootstrap-5.3.0-alpha3-dist/css/main.css">
  <link rel="icon" type="image/png" href="/icons/pngwing.com.png" sizes="32x32">
  <style>
		/* Center text vertically and horizontally */
		html, body {
			height: 100%;
		}
		body {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	</style>
</head>

<body>
  {{> nav}}
    <div class="container">
      <div class="container text-center">
		<h1>Спасибо за то что выбрали нас!</h1>
	</div>
    </div>
{{> footer}}
<script src="/bootstrap-5.3.0-alpha3-dist/js/bootstrap.bundle.js"></script>
</body>
<html>